header{
    height: 20rem;
    background-color: rgb(252, 140, 209);
    color: rgb(243, 240, 242);
    display: flex;
    padding: 0px 5vw;
    align-items: center;
    justify-content: space-between;

}
.logo {
    font-size: 3rem;
}
header nav ul{
list-style-type: none;
margin: 0px;
padding: 0px;
display: flex;
gap: 1rem;
}

header nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    border: 0.1rem solid  rgb(255, 255, 255);
    border-radius: 0.2rem;
    padding: 0.8rem 1rem;
}