header{
    height: 20rem;
    background-color: rgb(13, 206, 240);
    color: rgb(235, 18, 137);
    display: flex;
    padding: 0px 5vw;
    align-items: center;
    justify-content: space-between;

}
.logo {
    font-size: 3rem;
}
header nav ul{
list-style-type: none;
margin: 0px;
padding: 0px;
display: flex;
gap: 1rem;
}

header nav ul li a{
    color: blueviolet;
    text-decoration: none;
    border: 0.1rem solid  aquamarine;
    border-radius: 0.2rem;
    padding: 0.8rem 1rem;
}